@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 15px;
}

/* cabecalho */



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.title {
    flex-direction: row;
    line-height: 10px;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    margin: 20px;

}


.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transform: 2ms ease-in;
    position: relative;
    padding-bottom: 15px;

}

.menu li a:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: blueviolet;
    transition: all 0.2s ease;
    height: 3px;

}

.menu li a:hover:before {
    width: 100%;
}


.borda {
    border-radius: 20px;
    border: solid blueviolet;
    padding: 10px;


}

.borda:hover {
    background-color: blueviolet;
}

/* main-couteudo-principal */

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    margin: 0;
    margin-top: 15px;
}

.h3 {
    color: blueviolet;
    line-height: 1.2;
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;


}

p {
    line-height: 20px;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 80px;
    gap: 20px;


}

input {
    padding: 13px;
    border-radius: 15px;
    border: none;

}

.inputEnviar {
    width: 200px;
    height: 50px;
    background-color: rgb(161, 71, 245);
    cursor: pointer;
    color: white;

}

.inputEnviar:hover {
    background-color: rgb(71, 10, 133);

}